<html lang="en">
<head>
    <title>Fashion Feet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h4 class="c1">Add a new Product</h4>

    <form action="/AddData" method="POST">
        <label>Product Id:</label>
        <input type="number" placeholder="Enter product ID" name="pid"><br>

        <label>Product Category:</label>&nbsp;
        <input type="text" placeholder="Enter category" name="category"><br>

        <label>Type of the product:</label>&nbsp;
        <input type="text" placeholder="Enter type" name="type"><br>

        <label>Size:</label>
        <input type="number" placeholder="Enter size" name="size"><br>

        <label>Stock:</label>&nbsp;
        <input type="number" placeholder="Enter quantity" name="stock"><br>

        <label>Cost Price:</label>&nbsp;
        <input type="number" placeholder="Enter cost" name="cp"><br>

        <label>Selling price:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" placeholder="Enter SP" name="sp"><br><br>

        <button type="submit">Submit</button>
    </form>

    <a href="/" class="c2">Home Page</a>
</body>
</html>